!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", |
      "data-turbolinks-track" => true                  |
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    / [if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    %header
      %h1.title= link_to "Paul Ogden", "/"
      %ul.nav
        %li= link_to "About", about_path
        %li= link_to "Portfolio", portfolio_path
        %li= link_to "Resume", resume_path
        %li= link_to "Contact", contact_path
    %section
      .wrapper
        = yield
    %footer
      %p by Paul Ogden